<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sharebedapp.jijl.mapper.AuthorityMenuMapper">
    <sql id="Base_Column_List">
    id, interfaceName, interfaceUrl, pageUrl, fid, interfaceType, orderBy, isFlag
  </sql>
    <select id="getMenuList" resultType="com.sharebedapp.jijl.model.AuthorityMenuView">
        select am.id, am.interfaceName,am.pageUrl
        <if test="managerId != null and managerId != ''">
            ,(select FIND_IN_SET(am.id,(select group_concat(DISTINCT menuId) from authority_manager_role amr,authority_role_menu arm
            where amr.managerId=#{managerId} and amr.roleId = arm.roleId))) isFlag
        </if>
        from authority_menu am where am.isFlag = 1
        <if test="fid != null">
            AND am.fid = #{fid}
        </if>
        <if test="interfaceType != null">
            AND am.interfaceType = #{interfaceType}
        </if>
        ORDER BY am.orderBy ASC
    </select>

    <select id="selectByExample" resultType="com.sharebedapp.jijl.model.AuthorityMenu"
            parameterType="com.sharebedapp.jijl.model.AuthorityMenu">
        select
        <include refid="Base_Column_List"/>
        from authority_menu
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="interfaceName != null">
                AND interfaceName = #{interfaceName}
            </if>
            <if test="interfaceUrl != interfaceUrl">
                AND interfaceUrl = #{interfaceUrl}
            </if>
            <if test="pageUrl != pageUrl">
                AND pageUrl = #{pageUrl}
            </if>
            <if test="fid != null">
                AND fid = #{fid}
            </if>
            <if test="interfaceType != null">
                AND interfaceType = #{interfaceType}
            </if>
            <if test="orderBy != null">
                AND orderBy = #{orderBy}
            </if>
            <if test="isFlag != null">
                AND isFlag = #{isFlag}
            </if>
        </trim>
        ORDER BY orderBy ASC
    </select>
    <select id="selectByPrimaryKey" resultType="com.sharebedapp.jijl.model.AuthorityMenu" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from authority_menu
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from authority_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insertSelective" parameterType="com.sharebedapp.jijl.model.AuthorityMenu">
        insert into authority_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="interfaceName != null">
                interfaceName,
            </if>
            <if test="interfaceUrl != null">
                interfaceUrl,
            </if>
            <if test="pageUrl != null">
                pageUrl,
            </if>
            <if test="fid != null">
                fid,
            </if>
            <if test="interfaceType != null">
                interfaceType,
            </if>
            <if test="orderBy != null">
                orderBy,
            </if>
            <if test="isFlag != null">
                isFlag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="interfaceName != null">
                #{interfaceName,jdbcType=VARCHAR},
            </if>
            <if test="interfaceUrl != null">
                #{interfaceUrl,jdbcType=VARCHAR},
            </if>
            <if test="pageUrl != null">
                #{pageUrl,jdbcType=VARCHAR},
            </if>
            <if test="fid != null">
                #{fid,jdbcType=VARCHAR},
            </if>
            <if test="interfaceType != null">
                #{interfaceType,jdbcType=INTEGER},
            </if>
            <if test="orderBy != null">
                #{orderBy,jdbcType=INTEGER},
            </if>
            <if test="isFlag != null">
                #{isFlag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sharebedapp.jijl.model.AuthorityMenu">
        update authority_menu
        <set>
            <if test="interfaceName != null">
                interfaceName = #{interfaceName,jdbcType=VARCHAR},
            </if>
            <if test="interfaceUrl != null">
                interfaceUrl = #{interfaceUrl,jdbcType=VARCHAR},
            </if>
            <if test="pageUrl != null">
                pageUrl = #{pageUrl,jdbcType=VARCHAR},
            </if>
            <if test="fid != null">
                fid = #{fid,jdbcType=VARCHAR},
            </if>
            <if test="interfaceType != null">
                interfaceType = #{interfaceType,jdbcType=INTEGER},
            </if>
            <if test="orderBy != null">
                orderBy = #{orderBy,jdbcType=INTEGER},
            </if>
            <if test="isFlag != null">
                isFlag = #{isFlag,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delAuthorityById">
        delete from authority_role_menu where 1=1
        <if test="roleId != null and roleId != ''">
            and roleId = #{roleId}
        </if>
        <if test="menuId != null and menuId != ''">
            and menuId = #{menuId}
        </if>
    </delete>

    <insert id="setAuthorityByRole">
        insert into authority_role_menu (roleId,menuId) values
        <foreach collection="menus" item="item" index="index" separator=",">
            (#{roleId}, #{item})
        </foreach>
    </insert>

    <select id="getAuthoritysByManager" resultType="java.lang.String">
        SELECT DISTINCT
            am.interfaceUrl
        FROM
            authority_manager_role amr,
            authority_role_menu arm,
            authority_menu am
        WHERE
            amr.managerId = #{managerId}
        AND amr.roleId = arm.roleId
        AND am.id = arm.menuId
        AND am.isFlag = 1
        AND am.interfaceUrl IS NOT NULL
    </select>

</mapper>